@model ThaiTable.Models.DeliveryViewModel

<div id="payment">
    <form action=@Url.Content("~/Payment/Delivery") method='post' id='form1'>
        <div id="delivery" class="container">
            <h4>YOUR DETAILS FOR DELIVERY</h4>
            <table>
                <tbody>
                    <tr>
                        <td>FIRST NAME
                            <span style="color:red">*</span>
                        </td>
                        <td>
                            @Html.TextBoxFor(Model => Model.FirstName, new { required = "required", autofocus = "autofocus", @class = "input-width" })
                        </td>
                    </tr>
                    <tr>
                        <td>SURNAME
                            <span style="color:red">*</span>
                        </td>
                        <td>
                            @Html.TextBoxFor(Model => Model.LastName, new { required = "required", @class = "input-width" })
                        </td>
                    </tr>
                    <tr>
                        <td>CONTACT NUMBER
                            <span style="color:red">*</span>
                        </td>
                        <td>
                            @Html.TextBoxFor(Model => Model.ContactNo, new { required = "required", @class = "input-width" })
                        </td>
                    </tr>
                    <tr>
                        <td>FULL ADDRESS
                            <span style="color:red">*</span>
                        <br />&nbsp;</td>
                        <td>
                            @Html.TextAreaFor(Model => Model.Address, new { required = "required", @class = "input-width" })
                        </td>
                    </tr>
                    <tr>
                        <td>POSTCODE
                            <span style="color:red">*</span>
                        <br />&nbsp;</td>
                        <td>
                            @Html.TextBoxFor(Model => Model.Postcode, new { required = "required", @class = "input-width" })
                        </td>
                    </tr>
                    <tr>
                        <td>
                            EMAIL <span style="color:red">*</span>
                            <br />&nbsp;
                        </td>
                        <td>
                            @Html.TextBoxFor(Model => Model.Email, new { @class = "input-width" })
                        </td>
                    </tr>
                    <tr>
                        <td>DELIVERY TIME <span style="color:red">*</span>
                        <br />&nbsp;</td>
                        <td>@Html.Action("DeliveryTimePartial", "Payment")</td>
                    </tr>
                </tbody>
            </table>
            <br />
            <span><span style="color:red">*</span>&nbsp;Mandatory fields</span>
        </div>
    </form>
</div>