<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - ThaiTable</title>
    @Styles.Render("~/Content/css")
    @*@Scripts.Render("~/bundles/modernizr")*@
    
    

    <script src="~/Scripts/jquery-3.2.1.js"></script>

    <script src="~/Scripts/bootstrap.js"></script>

    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    

</head>
<body>
    <div id="page-wrap">
        <header>
        
                @*<div class="image-left"> </div>
                <div class="image-right">
                   
                    <div style="font-size: 12px; color: #000000; text-align: right; font-weight: bold;">
                        8 Church Road<br />
                        Caversham<br />
                        RG4 7AD<br />
                        0118 947 1500<br />
                        0744 250 2662
                    </div>
                </div>*@

              
 
            <div class="container">
                
                <div class="col-md-6"> <a class="logo" href="@Url.Action("Index", "Home")"><img src=@Url.Content("~/Content/images/logo.jpg") alt="" /></a>
<div style="position:relative; left:260px; bottom:10px; color:#000000;">Authentic Thai Restaurant</div></div>

                <div class="col-md-6">

                    <div style="font-size: 12px; color: #000000; text-align: right; font-weight: bold;">
                        8 Church Road<br />
                        Caversham<br />
                        RG4 7AD<br />
                        0118 947 1500<br />
                        0744 250 2662
                    </div>
                    

                </div>
            </div>

        </header>

      
        <div id="body-wrap">
            <div id="center">
                @RenderBody()
            </div>
        </div>

        @RenderSection("footer", required: false)
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")


    @RenderSection("scripts", required: false)
</body>
</html>
